<template>
  <figure :class="['ambient-image']">
    <span>
      <span :style="ambience" />
      <img :style="shadow" :src="src" :width="width" :height="height" />
    </span>
  </figure>
</template>
<script>
export default {
  name: 'AmbientImage',
  props: {
    src: {
      type: String,
      required: true
    },
    width: {
      type: Number
    },
    height: {
      type: Number
    },
    blur: {
      type: Number,
      default: 14,
      validator: value => {
        return value >= 10 && value <= 20
      }
    },
    elevation: {
      type: Number,
      default: 14,
      validator: value => {
        return value >= 10 && value <= 32
      }
    },
    direction: {
      type: String,
      default: 'down',
      validator: value => {
        return ['up', 'center', 'down'].includes(value)
      }
    }
  },
  computed: {
    shadow () {
      const direction = this.direction
      return {
        boxShadow: `0 ${direction === 'down' ? 5 : 5 * -1}px 15px -8px rgba(0, 0, 0, .24),
                    0 ${direction === 'down' ? 8 : 8 * -1}px 10px -5px rgba(0, 0, 0, .2)`
      }
    },
    ambience () {
      const direction = this.direction
      const elevation = this.elevation
      let offset = 0
      switch (direction) {
        case 'down':
          offset = `${elevation}px`
          break
        case 'up':
          offset = `${elevation * -1}px`
          break
      }
      return {
        backgroundImage: `url("${this.src}")`,
        filter: `blur(${this.blur}px)`,
        top: offset,
        left: offset,
        transform: `scale(${direction === 'center' ? 1.1 : 0.95})`
      }
    }
  }
}
</script>
<style>
.ambient-image,
.ambient-image *
{
  padding: 0;
  margin: 0;
  border: 0;
}

.ambient-image img,
.ambient-image span
{
  display: block;
}

.ambient-image
{
  display: inline-block;
  user-select: none;
}

.ambient-image > span
{
  position: relative;
}

.ambient-image span span
{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}
</style>