<template>
  <div id="app">
    <h1>Ambient Image Component for VueJs</h1>
    <hr />
    <p v-html="description" />
    <h2>Demos</h2>
    <hr />
    <h3>Default</h3>
    <div :class="['table-layout']">
      <div>
        <div>
          <ambient-image
            :width="276"
            :height="183"
            src="/docs/images/image-01.jpeg" />
        </div>
        <div>
          <ambient-image
            :width="276"
            :height="183"
            src="/docs/images/image-04.jpeg" />
        </div>
        <div>
          <ambient-image
            :width="276"
            :height="183"
            src="/docs/images/image-05.jpeg" />
        </div>
      </div>
    </div>
    <h3>Up Ambience</h3>
    <div :class="['table-layout']">
      <div>
        <div>
          <ambient-image
            direction="up"
            :width="276"
            :height="183"
            src="/docs/images/image-02.jpeg" />
        </div>
        <div>
          <ambient-image
            direction="up"
            :width="276"
            :height="183"
            src="/docs/images/image-06.jpeg" />
        </div>
        <div>
          <ambient-image
            direction="up"
            :width="276"
            :height="183"
            src="/docs/images/image-07.jpeg" />
        </div>
      </div>
    </div>
    <h3>Center Ambience</h3>
    <div :class="['table-layout']">
      <div>
        <div>
          <ambient-image
            direction="center"
            :width="276"
            :height="183"
            src="/docs/images/image-03.jpeg" />
        </div>
        <div>
          <ambient-image
            direction="center"
            :width="276"
            :height="183"
            src="/docs/images/image-08.jpeg" />
        </div>
        <div>
          <ambient-image
            direction="center"
            :width="276"
            :height="183"
            src="/docs/images/image-09.jpeg" />
        </div>
      </div>
    </div>
    <h2>Installation and Usage</h2>
    <hr />
    <p>
      <code>$ npm install ambient-image --save</code>
    </p>
    <pre><code>
// import the module
import AmbientImage from 'ambient-image'
// import the stylesheet
import '../node_modules/ambient-image/dist/lib/ambient-image.min.css'
// add to Vue
Vue.use(AmbientImage)
// or add it to another Vue component
components: {
  AmbientImage
}</code></pre>
    <p>
      <code>&lt;ambient-image src="/path/to/image.jpg" /&gt;</code>
    </p>
    <h2>Props</h2>
    <hr />
    <p>Below are the props you can use to customize component's look and feel.</p>
    <ul>
      <li>
        <code>src</code> - required: <code>true</code>, type: <code>String</code>, required URI of the image
      </li>
      <li>
        <code>width</code> - required: <code>false</code>, type: <code>Number</code>, default: <code>undefined</code>, optional image <code>width</code>
      </li>
      <li>
        <code>height</code> - required: <code>false</code>, type: <code>Number</code>, default: <code>undefined</code>, optional image <code>height</code>
      </li>
      <li>
        <code>blur</code> - required: <code>false</code>, type: <code>Number</code>, default: <code>14</code>, blur strength (<code>10</code> - <code>20</code>)
      </li>
      <li>
        <code>elevation</code> - required: <code>false</code>, type: <code>Number</code>, default: <code>14</code>, ambience elevation (<code>10</code> - <code>32</code>)
      </li>
      <li>
        <code>direction</code> - required: <code>false</code>, type: <code>Number</code>, default: <code>down</code>, ambience direction (<code>up</code>, <code>center</code>, <code>down</code>)
      </li>
    </ul>
    <h2>Credits</h2>
    <hr />
    <p>Created by <a href="https://wemakesites.net/" target="_blank">Martin Ivanov</a>.
      Follow <a href="https://twitter.com/vuecidity" target="_blank">@vuecidity</a> and check my
      <a href="http://martinivanov.net/" target="_blank">blog</a>.</p>
    <p>Version: <code v-html="version" /></p>
  </div>
</template>

<script>
import AmbientImage from './components/ambient-image'
import {description, version} from '../package'

export default {
  name: 'app',
  components: {
    AmbientImage
  },
  data () {
    return {
      version,
      description
    }
  }
}
</script>
<style>
*
{
  padding: 0;
  margin: 0;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6
{
  padding-bottom: .75em;
  font-weight: 300;
}

pre
{
  margin-bottom: 1.5em;
}

code
{
  font: normal 1em Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  color: #b00;
}

body
{
  font-family: Roboto, sans-serif;
  cursor: default;
}

#app
{
  padding: 2em;
}

hr
{
  border: 0;
  background: rgba(0, 0, 0, .12);
  height: 1px;
  margin-bottom: 1em;
}

.table-layout
{
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-layout > *
{
  display: table-row;
}

.table-layout > * > *
{
  display: table-cell;
  vertical-align: middle;
}

.table-layout > * > *
{
  padding: 1em 2em;
}

.table-layout > * > *:first-child
{
  padding-left: 0;
}

ul
{
  list-style: square inside;
}

img
{
  border-radius: .75em;
}

a
{
  color: #00f;
}
</style>